<div class="embedded">
  <div id="embedded-flex-outer-container" class="pt24 pb24 d-flex flex-column" style="background: black; ">
    <div class="flex-fill"></div>

    <div id="embedded-flex-inner-container" class="bg-white">
      <section>
        <div class="container-fluid">
          <div class="row pt16">
            <div class="col-xs-12">
              <div class="d-flex flex-row pb24">
                <img ui-sref="embedded-flex-3" src="assets/images/embedded-flex/arrow-icon.svg">
                <div class="flex-fill"></div>
                <img ui-sref="embedded-landing" src="assets/images/embedded-flex/close-icon.svg">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="font-32 text-700">Checkout</div>
              <div class="font-14 text-300 text-copy-1">How would you like to pay?</span></div>
            </div>
          </div>
        </div>
      </section>

      <section>
        <div class="container-fluid">
          <div class="row mt16">
            <div class="col-xs-12">
              <img src="assets/images/embedded-flex/flex-card.png" class="w-100 pt24">
              <div class="mt32 font-16 font-700">What you are getting</div>
              <div class="mt16">
                <div ng-repeat="module in cont.modules" class="border-radius border p16 d-flex flex-row mb16" ng-if="module.included==true">
                  <div class="flex-fill">
                    <div class="text-700">{{module.name}}</div>
                    <div class="text-300 text-copy-1">Cover: $ {{module.cover}}</div>
                  </div>
                  <div class="text-right">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section style="margin-bottom: 224px;"></section>
    </div>

    <div id="embedded-navbar-container" class="bg-white pb-24 bg-white">
      <div class="container-fluid" id="productflow-nav-container">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xs-12">
              <div class="font-16 text-copy-1 text-300">The following amount will be deducted</div>
              <div class="font-48 text-copy-1 text-300 mb32">$ <span class="text-copy-2 text-700"ng-bind="cont.totalPrice" id="totprice-animate"></span></div>
              <div></div>
              <a class="btn btn-black w-100 pt8 pb8" ng-click="cont.proceed()">Pay</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="flex-fill"></div>

  </div>
</div>
